body{
    color: #243337;
    background-color: #e3eaeb;
    font-family: Arial, Helvetica, sans-serif;
}
section{
    margin-top:25px;
}
.jumbotron {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-bottom: 0;
    background-color: #e3eaeb
}

.display-4 {
    font-weight: bold;
}

.lead {
    font-style: italic;
}

.nav {
    padding: 10px;
    background-color: #ffb347;
    margin-bottom: 25px;
}

.nav-link {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

li {
    font-family: Arial, Helvetica, sans-serif;
}

.phoneimg {
    height: 500px;
    padding-left: 150px;
}

.media img {
    height: 72px;
}

.toolkit {
    padding: 10px;
    text-align: center;
}

.media img {
    margin-left: 25px;
}

.logos {
    margin-left: 95px;
}

.desktopAnno img {
    width: 100%;
}

.mobileAnno img {
    width: 60%;
    margin-left: 250px;
    border: 1px solid black;
}

.table {
    margin-left: 170px;
}

.stickyboard img {
    width: 600px;
}

.matrix img {
    width: 600px;
}

.cardsort img {
    width: 800px;
    margin-left: 175px
}
#sitemap img{
    width: 800px;
    margin-left: 160px;
}
#updatedNav img{
    width: 94%;
    margin-bottom: 10px;
    margin-right:auto;
    display:block;
}
#normalsearch img{
    display: block;
    margin-right:auto;
    width: 400px;
}
#hoversearch img{
    display: block;
    margin-right:auto;
    width: 400px;
}
#darknav img{
    display: block;
    margin-right:auto;
    width:500px;
}
#darksearch img{
    display: block;
    margin-right: auto;
    width: 500px;
}
#darkfooterweb img{
    display: block;
    margin-right: auto;
    width: 500px;
}
#styleguide img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 800px
}
#desktophome img{
    display: block;
    width: 500px;
    margin-bottom: 10px;
}
#desktopmenu img{
    display: block;
    width: 500px;
    margin-bottom: 10px;
}
#herowireframe img{
    display: block;
    width: 500px;
    margin-bottom: 10px;
}
#menuwireframe img{
    display: block;
    width: 500px;
    margin-bottom: 10px;
}
.carousel-inner{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}
.table{
    margin-left: auto;
    margin-right: auto;
}
#heatmaphome img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#heatmapnav img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}